

.mainbox {
  background-color: rgb(221, 247, 244);
  position: relative;
  border-radius: 5em;
  width:30em;
  height:28em;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin: auto;
  padding: 10px;
  border: 10px solid rgb(6, 10, 6);
}

.a
{width:20%;
height:10%;
border-radius: 0.25em ;
background-position: center;
background-size: contain;
background-color: rgb(255, 255, 255);
}

.google{background-image: url("E:\react\myapp\public\google.png") ;}

